.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 5px;
    background-color: #3f3f40;
    color: #fff;
    border-radius: 5px;
    transition: opacity ease .2s;
    width: 196px;
}

.button.small {
    width: auto;
}

.button.small .button_text {
    display: none;
}

.button:hover {
    opacity: .8;
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: .4;
    cursor: not-allowed;
}