.title {
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.toggler {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 3rem;
}

.widgets_body {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}