@import "../../node_modules/normalize.css/normalize.css";
@import "fonts.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1270px;
  padding: 0 15px;
  height: 100%;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8585AD #2F2F37;
}

/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: #2F2F37;
}
*::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}