.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.main {
    min-height: 30vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}