.header {
    padding: 18px 0;
    background-color: #0a0a0a;
    border-bottom: 1px solid #2f3035;
}

.nav {
    display: flex;
    justify-content: center;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu_link {
    font-weight: 400;
    font-size: 18px;
    color: #898989;
}

a.active{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}